<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="button" routerLink="/admin/registration"  class="nav-link" routerLinkActive="active">Registration</a>
    </li>
<!--    <li class="nav-item">-->
<!--      <a class="button" routerLink="/login"  class="nav-link" routerLinkActive="active">Login</a>-->
<!--    </li>-->
  </ul>
</nav>
<div *ngIf="message">
  <p>
    <ngb-alert [dismissible]="false">
      <strong>{{message}}</strong>
    </ngb-alert>
  </p>
</div>


<mat-toolbar>
  <span>Login</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>

    <form class="my-form" [formGroup]="loginForm">

      <mat-form-field  class="full-width">
        <mat-label>Email Address</mat-label>
        <input formControlName="loginId" matInput>
      </mat-form-field>
      &nbsp;
      <mat-form-field  class="full-width">
        <mat-label>PASSWORD</mat-label>
        <input type="password" formControlName="password" matInput >
      </mat-form-field>

      <br/>
      <button type="button" (click)="clear()" mat-stroked-button color="accent">Clear</button>
      &nbsp;
      <button type="submit"
              (click)="login()"
              [disabled]="!loginForm.valid"
              mat-raised-button color="primary">
        Login
      </button>
    </form>
  </mat-card-content>
</mat-card>
