
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="button" routerLink="/admin/admin"  class="nav-link" routerLinkActive="active">Admin</a>
    </li>

    <li class="nav-item">
      <a class="button" routerLink="/hr/employees"  class="nav-link" routerLinkActive="active">Employee</a>
    </li>

    <li class="nav-item">
      <a class="button" routerLink="/hr/deperments"  class="nav-link" routerLinkActive="active">Deperment</a>
    </li>

    <li class="nav-item">
      <a class="button" routerLink="/hr/designations"  class="nav-link" routerLinkActive="active">Designation</a>
    </li>

    <li class="nav-item">
      <a class="button" routerLink="/tnl/leaveType"  class="nav-link" routerLinkActive="active">Leave Type</a>
    </li>

    <li class="nav-item">
      <a class="button" routerLink="/tnl/leaveApp"  class="nav-link" routerLinkActive="active">Leave App</a>
    </li>

    <li class="nav-item">
      <a class="button" routerLink="/report/reports"  class="nav-link" routerLinkActive="active">Reports</a>
    </li>

  </ul>

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="button" routerLink="/login"  class="nav-link" routerLinkActive="active">Log out</a>
    </li>
<!--    <li class="nav-item">-->
<!--      <a class="button" routerLink="/admin/registration"  class="nav-link" routerLinkActive="active">Registration</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--      <a class="button" routerLink="/login"  class="nav-link" routerLinkActive="active">Login</a>-->
<!--    </li>-->
  </ul>

</nav>

<div *ngIf="message">
  <p>
    <ngb-alert [dismissible]="false">
      <strong>{{message}}</strong>
    </ngb-alert>
  </p>
</div>

<!--Form-->
<div class="div-section">

  <h1>User Form</h1>
  <form [formGroup]="amdUserForm" (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label>ID</mat-label>
      <input formControlName="id" matInput readonly>
    </mat-form-field>
    &nbsp;
    <mat-form-field>
      <mat-label>Photo</mat-label>
      <input formControlName="photo" matInput>
    </mat-form-field>
    &nbsp;
    <mat-form-field>
      <mat-label>Code</mat-label>
      <input formControlName="code" matInput>
    </mat-form-field>
    &nbsp;
    <mat-form-field>
      <mat-label>User Name</mat-label>
      <input formControlName="name" matInput>
    </mat-form-field>
    &nbsp;
    <mat-form-field>
      <mat-label>EMAIL</mat-label>
      <input type="email" formControlName="email" matInput>
    </mat-form-field>
    &nbsp;
    <mat-form-field>
      <mat-label>MOBILE NO</mat-label>
      <input formControlName="mobileNo" matInput>
    </mat-form-field>
    &nbsp;
    <mat-form-field>
      <mat-label>PASSWORD</mat-label>
      <input type="password" formControlName="password" matInput>
    </mat-form-field>
    &nbsp;

    <mat-checkbox formControlName="active">Active</mat-checkbox>
    <br/>
    <button type="button" (click)="clear()" mat-stroked-button color="accent">Clear</button>
    &nbsp;
    <button type="submit" [disabled]="!amdUserForm.valid" mat-raised-button color="primary">Submit</button>
  </form>

</div>

<div class="div-section">
<h3>
      User List
    </h3>
    <ul class="items">
      <li *ngFor="let users of modelList" [class.selected]="isSelected(users)" (click)="onSelect(users)">
        <span class="badge">{{users.id}}</span> {{users.name}}
<!--        <button  [disabled]="isSelected(users)" >{{users.name}}</button>-->
      </li>
  </ul>
  </div>


<!--Table-->
<div class="div-section">

  <h1>User List</h1>

  <mat-form-field fxFlex="100%">
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter" >
  </mat-form-field>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortStart="asc">

    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No.</th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Photo Column -->
    <ng-container matColumnDef="photo">
      <th mat-header-cell *matHeaderCellDef> Photo</th>
      <td mat-cell *matCellDef="let row"> {{row.photo}} </td>
    </ng-container>

    <!-- Code Column -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Code</th>
      <td mat-cell *matCellDef="let row"> {{row.code}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>


    <!-- EMAIL Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>EMAIL</th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>

    <!-- mobileNo Column -->
    <ng-container matColumnDef="mobileNo">
      <th mat-header-cell *matHeaderCellDef> MOBILE NO</th>
      <td mat-cell *matCellDef="let row"> {{row.mobileNo}} </td>
    </ng-container>

    <!-- userId Column -->
    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef> Password</th>
      <td mat-cell *matCellDef="let row"> {{row.password}} </td>
    </ng-container>

    <!-- Active Column -->
    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef> Active</th>
      <td mat-cell *matCellDef="let row"> {{row.active}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action</th>
      <td mat-cell *matCellDef="let row">

        <button (click)="edit(row)" mat-fab color="accent" aria-label="Example icon button with a edit icon">
          <mat-icon>edit</mat-icon>
        </button>

        <button (click)="delete(row)" mat-fab color="warn" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Define display cloumn -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSize]="2" [pageSizeOptions]="[1,2, 3, 4, 5]"></mat-paginator>

</div>


